# 빌드 결과물
bin/
obj/
*.exe
*.dll

# 로그 파일
*.log

# 환경설정 파일
.env
*.config

# OS별 임시 파일
.DS_Store
Thumbs.db

# IDE 관련
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

.vite/deps

backend/myenv311/
backend/myenv312/
backend/myenv313/
backend/__pycache__/
backend/*.log
backend/.env
backend/bin/

frontend/node_modules/**

# 빌드 결과물
frontend/dist/
frontend/build/

# 환경설정
frontend/.env

# IDE 관련
frontend/.vscode/

node_modules/
__pycache__/
myenv311/
myenv312/
myenv313/
